@page
@model BetService.Pages.Admin.Bet.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bet.Odd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bet.Odd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bet.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bet.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bet.Percentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bet.Percentage)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bet.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
