@page
@model BetService.Pages.Admin.Bet.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Parie</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bet[0].Odd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bet[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bet[0].Percentage)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Bet[0].BetCategory)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Bet[0].Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Odd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.BetCategory)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Event)
            </td>
            <td>
                <a asp-page="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
