@page
@model Crawler.Pages.UriToParse.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UriBetsToParse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UriBetsToParse.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UriBetsToParse.Name)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.UriBetsToParse.Value)
        </dt>
        <dd>
            <a href="@Html.DisplayFor(model => model.UriBetsToParse.Value)">@Html.DisplayFor(model => model.UriBetsToParse.Value)</a>
        </dd>
    </dl>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Récupérer les paries" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UriBetsToParse.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
